*{
  text-decoration: none;
  color: white;

}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.body {
  color: #0b0b0b;
  background-color: #000;
}

.section {
  height: 1000px;
  color: #000;
  background-color: #000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2vw;
  display: flex;
}

.heading {
  direction: ltr;
  color: #fff;
  letter-spacing: 0;
  white-space: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3vw 2vw 0 5vw;
  font-family: Ade Display, sans-serif;
  font-size: 10vw;
  font-weight: 500;
  line-height: 13vw;
}

.text-block {
  color: #fff;
  margin-top: 446px;
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.div-block {
  width: 100vw;
  max-width: 100vw;
  color: #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1em;
  display: flex;
}

.text-block-2, .text-block-3 {
  font-size: 1em;
}

.button {
  width: 100px;
  height: 70px;
  max-width: 100px;
  outline-offset: 0px;
  color: #fff;
  background-color: rgba(56, 152, 236, 0);
  border-radius: 11px;
  outline: 4px solid #fff;
  align-items: center;
  margin-top: 37px;
  margin-left: 8vw;
  padding: 0 230px 0 28px;
  font-family: Poppins, sans-serif;
  font-size: 1.5em;
  display: flex;
}

.navbar {
  grid-column-gap: 10px;
  color: #fff;
  background-color: rgba(221, 221, 221, 0);
  flex-direction: row;
  flex: 0 auto;
  justify-content: flex-start;
  align-self: flex-end;
  padding-top: 6px;
  padding-right: 62px;
  font-family: Poppins, sans-serif;
  font-size: 1vw;
  display: flex;
  position: static;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.container {
  color: #fff;
}

.nav-link, .nav-link-2 {
  color: #fff;
  padding-right: 7vw;
}

.nav-link-3 {
  color: #fff;
}

.heading-2, .heading-3, .heading-4 {
  display: flex;
}

.heading-5 {
  padding: 4vw 0 2vw 6vw;
  font-size: 14em;
  line-height: 220px;
  display: flex;
}

.div-block-2 {
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.text-block-4 {
  color: #fff;
  margin-top: 5px;
  padding-top: 0;
  padding-left: 4vw;
  font-family: Poppins, sans-serif;
  font-size: 1.3em;
  line-height: 1.8em;
}

.nav-menu {
  font-size: 13px;
}

.div-block-3 {
  position: absolute;
}

.text-block-5 {
  color: #fff;
  text-align: right;
  align-self: flex-end;
  margin-top: 9vw;
  padding-bottom: 2vw;
  padding-right: 5vw;
  font-family: Poppins, sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-4 {
  max-width: 1300px;
  font-size: 1em;
  display: flex;
}

.div-block-5 {
  padding: 113px 98px 39px;
  font-size: 30px;
  line-height: 59px;
}

.text-block-6 {
  color: #fff;
  font-family: Poppins, sans-serif;
}

.boton-fimal {
  width: 230px;
  height: 73px;
  border: 4px solid #fff;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.boton-fimal.new {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.boton-fdinal {
  width: 20px;
  height: 20px;
  max-height: 40px;
  max-width: 40px;
  background-color: #fff;
  border-radius: 50px;
  margin-right: 25px;
}

.text-block-8 {
  color: #fff;
  padding-left: 23px;
  padding-right: 61px;
  font-size: 18px;
}

.section-3 {
  height: auto;
}

.grid {
  padding: 342px 95px 95px;
}

.image {
  margin-top: 651px;
}

.image-2 {
  margin-top: 299px;
}

.image-3 {
  margin-top: 850px;
}

.section-4 {
  height: 500px;
  padding-top: 55px;
}

.lasttext {
  color: #fff;
  padding-top: 75px;
  padding-left: 91px;
  font-family: Poppins, sans-serif;
  font-size: 4.5vw;
  font-weight: 300;
  line-height: 5vw;
}

.div-block-9 {
  align-items: flex-end;
  padding-right: 32px;
  display: flex;
}

.div-block-10 {
  width: 880px;
}

.div-block-11 {
  display: none;
}

.link-block {
  margin-bottom: 19px;
  margin-left: 31px;
  margin-right: 0;
  text-decoration: none;
}

.link-block-2 {
  margin-left: 94px;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .body, .section {
    background-color: #000;
  }

  .button {
    margin-left: 10vw;
  }

  .navbar {
    text-align: right;
    justify-content: flex-end;
    align-self: flex-end;
    position: static;
  }

  .container {
    position: static;
  }

  .heading-5 {
    padding-top: 5vw;
    padding-left: 9vw;
    font-size: 17em;
  }

  .div-block-2 {
    margin-left: 9vw;
  }

  .text-block-4 {
    margin-top: -5px;
  }

  .nav-menu {
    font-size: 14px;
    position: static;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .text-block-5 {
    align-self: flex-end;
    position: -webkit-sticky;
    position: sticky;
  }

  .section-2 {
    height: auto;
  }

  .div-block-5 {
    padding: 242px 116px 0;
  }

  .text-block-6 {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    line-height: 80px;
  }

  .boton-fimal {
    width: 235px;
    height: 75px;
    -webkit-text-stroke-color: #000;
    border: 4px solid #fff;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .boton-fimal.new {
    margin-bottom: 0;
    margin-right: 0;
  }

  .div-block-7 {
    width: 12px;
    height: 7px;
    max-width: 12px;
    opacity: 1;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0);
    background-color: #fff;
    border: 0 rgba(0, 0, 0, 0);
    border-radius: 60px;
    margin-top: 35px;
    margin-left: 321px;
    position: absolute;
  }

  .boton-fdinal {
    width: 20px;
    height: 20px;
    max-height: 40px;
    max-width: 40px;
    opacity: 1;
    text-align: center;
    background-color: #fff;
    border-radius: 90px;
    flex: 0 auto;
    margin-right: 25px;
    transition: opacity .5s;
    display: block;
  }

  .boton-fdinal:hover {
    width: 20px;
    height: 20px;
    max-height: 40px;
    max-width: 40px;
    border-radius: 90px;
  }

  .text-block-8 {
    color: #fff;
    padding-left: 23px;
    font-family: Poppins, sans-serif;
    font-size: 19px;
    text-decoration: none;
  }

  .section-3 {
    height: auto;
  }

  .grid {
    justify-items: center;
    margin-top: 252px;
    padding-top: 110px;
    padding-left: 109px;
    padding-right: 109px;
  }

  .image {
    margin-top: 880px;
  }

  .image-2 {
    margin-top: 398px;
  }

  .image-3 {
    margin-top: 1292px;
  }

  .section-4 {
    height: 30vw;
  }

  .lasttext {
    color: #fff;
    padding-top: 13px;
    padding-left: 0;
    padding-right: 0;
    font-family: Poppins, sans-serif;
    font-size: 3.5vw;
    font-weight: 300;
    line-height: 4vw;
  }

  .div-block-9 {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 41px;
    padding: 134px 14vw 201px 8vw;
    display: flex;
  }

  .div-block-10 {
    width: 56vw;
    padding-right: 0;
    font-size: 4vw;
  }

  .div-block-11 {
    display: none;
  }

  .button-2 {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #fff;
    border-radius: 7px;
    align-self: center;
    margin-top: 40px;
    margin-left: 0;
    padding: 18px 36px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
  }

  .button-3 {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #fff;
    border-radius: 9px;
    margin-bottom: 24px;
    padding: 20px 32px;
    font-size: 18px;
  }

  .link-block {
    margin-bottom: 14px;
    text-decoration: none;
  }

  .link-block-2 {
    margin-left: 15px;
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .body {
    background-color: #000;
  }

  .section {
    height: 800px;
    background-color: #000;
  }

  .heading {
    letter-spacing: -.5vw;
  }

  .heading-5 {
    font-size: 11em;
    line-height: 180px;
  }

  .div-block-2 {
    flex-direction: row;
    order: 0;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    display: flex;
  }

  .text-block-4 {
    margin-top: 22px;
    padding-left: 5vw;
  }

  .nav-menu {
    background-color: rgba(0, 0, 0, 0);
  }

  .text-block-5 {
    display: none;
  }

  .icon {
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
    line-height: 40px;
    display: none;
  }

  .div-block-5 {
    padding: 0 43px;
  }

  .boton-fimal {
    width: 230px;
    align-self: flex-start;
    margin: 0;
  }

  .boton-fimal.new {
    margin-left: 93px;
  }

  .section-3 {
    height: auto;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .image, .image-2, .image-3 {
    margin-top: 371px;
  }

  .section-4 {
    height: 600px;
  }

  .lasttext {
    width: 80vw;
    padding-top: 66px;
    padding-left: 0;
    padding-right: 91px;
    font-size: 6vw;
    line-height: 7vw;
  }

  .div-block-9 {
    flex-direction: column;
    align-items: center;
  }

  .image-4 {
    margin-top: 122px;
  }

  .div-block-10 {
    align-self: flex-start;
    padding-left: 90px;
    font-size: 18px;
  }

  .link-block {
    align-self: flex-start;
    margin-top: 36px;
    margin-left: 0;
  }

  .link-block-2 {
    margin-top: 17px;
    margin-left: 58px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    color: #000;
    background-color: #000;
  }

  .section {
    background-color: #000;
  }

  .button {
    padding-right: 33vw;
    font-size: 3vw;
  }

  .heading-5 {
    font-size: 20vw;
    line-height: 22vw;
  }

  .div-block-2 {
    flex-direction: column;
    align-items: center;
    margin-left: 7vw;
  }

  .text-block-4 {
    margin-top: 38px;
    padding-left: 0;
    font-size: 14px;
  }

  .div-block-4 {
    padding-right: 0;
  }

  .icon {
    display: none;
  }

  .text-block-6 {
    font-size: 23px;
    line-height: 50px;
  }

  .boton-fimal {
    width: 225px;
    height: 70px;
    margin-left: 0;
    font-size: 13px;
  }

  .boton-fimal.new {
    margin-left: 81px;
  }

  .text-block-8 {
    font-size: 17px;
  }

  .section-4 {
    height: 600px;
  }

  .lasttext {
    font-size: 45px;
    line-height: 50px;
  }

  .link-block-2 {
    align-self: flex-start;
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .body {
    background-color: #000;
  }

  .section {
    height: auto;
    background-color: #000;
  }

  .navbar {
    padding-right: 0;
  }

  .heading-5 {
    padding-top: 38vw;
    font-size: 20vw;
    line-height: 20vw;
  }

  .div-block-2 {
    margin-left: 8vw;
  }

  .text-block-4 {
    padding-left: 0;
    font-size: 14px;
  }

  .icon {
    display: none;
  }

  .div-block-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .text-block-6 {
    margin-top: 152px;
    padding-top: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .boton-fimal {
    width: 50vw;
    height: 15vw;
    border-width: 1vw;
    border-radius: 3vw;
    margin-top: 0;
    margin-left: 0;
  }

  .boton-fimal.new {
    margin-left: 10vw;
  }

  .boton-fdinal {
    width: 5vw;
    height: 5vw;
    margin-right: 5vw;
  }

  .text-block-8 {
    padding-right: 0;
    font-size: 4.5vw;
  }

  .grid {
    margin-top: 196px;
    padding-top: 0;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .image, .image-2, .image-3 {
    margin-top: 90vw;
  }

  .lasttext {
    padding-right: 0;
    font-size: 30px;
    line-height: 35px;
  }

  .div-block-10 {
    width: 100vw;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .image-5 {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    display: flex;
  }

  .div-block-11 {
    display: none;
  }

  .link-block-2 {
    margin-top: 47px;
  }
}

@media screen and (min-width: 1280px) {
  #w-node-c7d0e7e4-d1c3-8324-1f72-2c1a442d4e8b-a709608f, #w-node-b1d0bd4f-f218-58e1-0534-d085fe5eeb68-a709608f, #w-node-fa6292a1-22cb-1b16-c716-44969c7efdd1-a709608f, #w-node-d9d2ed9b-3e5a-e563-3ab6-de50d86df1e0-a709608f {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Ade Display';
  src: url('../fonts/Ade-Display.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}